@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;

@mixin search-bar {
  border-radius: 1rem;
  width: 40rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@mixin poster-style {
  border: 4px solid $primarydark;
  object-fit: cover;
  border-radius: 6px;
  width: 20vw;
  height: 25vh;
  margin: 1rem;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}